@font-face {
  font-family: "TiemposText-Regular";
  src: url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/TiemposText/TiemposText-Regular.eot");
  src: url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/TiemposText/TiemposText-Regular.eot?#iefix")
    format("embedded-opentype"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/TiemposText/TiemposText-Regular.woff2")
    format("woff2"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/TiemposText/TiemposText-Regular.woff")
    format("woff"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/TiemposText/TiemposText-Regular.ttf")
    format("truetype"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/TiemposText/TiemposText-Regular.svg#TiemposText-Regular")
    format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "HelveticaNowText-Regular";
  src: url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/HelveticaNowText/HelveticaNowText-Regular.eot");
  src: url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/HelveticaNowText/HelveticaNowText-Regular.eot?#iefix")
    format("embedded-opentype"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/HelveticaNowText/HelveticaNowText-Regular.woff2")
    format("woff2"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/HelveticaNowText/HelveticaNowText-Regular.woff")
    format("woff"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/HelveticaNowText/HelveticaNowText-Regular.ttf")
    format("truetype"),
    url("//cdn.revjet.com/~cdn/Ads/ad_shared/fonts/HelveticaNowText/HelveticaNowText-Regular.svg#HelveticaNowText-Regular")
    format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullsize {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
}

.banner,
.banner * {
  box-sizing: border-box;
}
.content {
  opacity: 0;
  overflow: hidden;
}
.mainExit {
  border: 1px solid black;
  pointer-events: none;
  z-index: 99;
}

 /* ANIMATION 1 / FRAME 1 */
.hero-image {
  background-image: url(img/hero_image.jpeg);
  background-size: cover;
}

.frame1.logo-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47px;
}

.frame1.whiteblock1 {
  position: absolute;
  top: 250px;
  left: 0;
  width: 300px;
  height: 250px;
  background-color: #ffffff;
}

.frame1.whiteblock2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 9;
}

.cta {
  position: relative;
  font-family: 'HelveticaNowText-Regular', sans-serif;
  font-size: 12px;
  letter-spacing: -0.3px;
}
.cta::after {
  content: url('./img/Icon-Arrow.svg');
  position: absolute;
  top: 1px;
  right: -19px;
}

.frame1.title-container {
  position: absolute;
  width: 260px;
  height: 65px;
  top: 250px;
  left: 15px;
  font-family: "TiemposText-Regular", Times, serif;
  font-size: 18px;
  letter-spacing: -0.2px;
  color: #1a1a1a;
  .campainClaim {
    font-family: 'HelveticaNowText-Regular', sans-serif;
    font-size: 12px;
  }
  .enlargedProduct, .focusedCopy {
    line-height: 1;
  }
}

/* ======== CAROUSEL ======== */
#carrousel {
  width: 300px;
  height: 194px;
  position: absolute;
  top: 300px;
  left: 0;
  /* IMAGE CAROUSEL */
  .main-carousel-container {
    width: 300px;
    height: 194px;
    position: absolute;
    top: 0;
    left: 0;    
    .main-carousel-item-wrapper {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: -68px;
      .product-card {
        position: absolute;
        height: 192px;
        width: 84px;
        .product-image-container {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 76px;
          height: 108px;
          .product-image {
            height: inherit;
            width: inherit;
            object-fit: cover;
            object-position: center 0%;
          }
        }
      }
    }
    /* CAROUSEL BUTTONS */
    .carousel-next-button, .carousel-prev-button {
      position: absolute;
      z-index: 2;
      bottom: 47px;
      right: 24px;
      width: 15px;
      height: 16px;
      color: #1a1a1a66;
      background-color: #ffffffcc;
      cursor: pointer;
    }
    .carousel-prev-button {
      right: unset;
      left: 16px;
    }
    /* CAROUSEL PAGINATION */
    .pagination-block {
      position: absolute;
      bottom: -4px;
      left: 16px;
      width: 153px;
      height: 2px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2px;
      .pagination-item {
        background-color: #a1a1a140;
        height: 100%;
        width: 27px;
        min-width: 10%;
      }
      .pagination-item:nth-child(2) {
        min-width: 50%;
      }
    }
  }
  /* INFO CAROUSEL */
  .info-carousel-container {
    position: absolute;
    right: 3px;
    top: 0;
    width: 120px;
    height: 79px;
    overflow: hidden;
    .info-carousel-wrapper {
      position: absolute;
      top: 0;
      left: -120px;
      height: 79px;
      width: calc(120px * 4);
      .info-card {
        position: absolute;
        width: 120px;
        height: 79px;
        opacity: 0;
        .brand {
          font-family: "TiemposText-Regular", Times, serif;
          font-size: 12.7px;
          line-height: 13px;
        }
        .title {
          font-family: 'HelveticaNowText-Regular', sans-serif;
          font-size: 12px;
          line-height: 14px;
          font-weight: 600;
          margin-top: 5px;
        }
        .price {
          position: absolute;
          top: 59px;
          font-family: 'HelveticaNowText-Regular', sans-serif;
          font-size: 7px;
          line-height: 11px;
          color: #1a1a1a80;
          .sale_price {
            font-size: 10px;
            letter-spacing: 0.5;
            color: #000000;
          }
        }
      }
      .info-card:nth-child(1) {
        opacity: 1;
      }
    }
  }
} /* = CAROUSEL END = */
